body {
    background-color: #F9FBE7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.first {
    background-color: #F9FBE7;
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-first {
    font-size: 3rem;
    letter-spacing: 0.8rem;
}

.p-first {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

.img-first {
    width: 500px;
    height: 500px;
}

.second {
    background-color: #F9FBE7;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-second {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.p-second {
    width: 50%;
    text-align: center;
}

.h2-1-second {
    margin: 2.5rem;
    margin-top: 3rem;
}

.second-container {
    display: flex;
    width: 90%;
    height: auto;
    justify-content:center ;
}

.second-container-inner-1 {
    margin: 1.5rem;
    list-style-type: none;
}

.second-container-inner-2 {
    margin: 1.5rem;
    list-style-type: none;
}

.sci-img1 {
    height: 15rem;
    width: 20rem;
    margin: 1.5rem;
    margin-right: 5rem;
}

.sci-img2 {
    height: 15rem;
    width: 20rem;
    margin: 1.5rem;
    border-radius: 10px;
    margin-right: 5rem;
}

.sci-li1 {
    height: 15rem;
    width: 20rem;
    margin: 2rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
}

.sci-li2 {
    height: 15rem;
    width: 20rem;
    margin: 2rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
}
